# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# JetBrains IDEs settings
.idea/

# Temporary backup directory
_temp_backup/

